@model hsdc.dpt.Control.DTO.Creational.Builder.ApplyExpense

@{
    ViewBag.Title = "新增費用申請單";
}

<h2>新增請假單</h2>

@using (Html.BeginForm("SaveApplyExpense", "Builder", FormMethod.Post, new { id = "frmSave" }))
{
    <table>
        <tr>
            <th>費用申請單單號</th>
            <td>@(Model.ApplyExpenseID == null ? "" : Model.ApplyExpenseID)</td>
        </tr>
        <tr>
            <th>申請人</th>
            <td>@Html.TextBoxFor(m => m.Applier)</td>
        </tr>
        <tr>
            <th>申請類別</th>
            <td>@Html.TextBoxFor(m => m.ApplyExpenseType)</td>
        </tr>
        <tr>
            <th>申請日期</th>
            <td>@Html.TextBoxFor(m => m.ApplyDate)</td>
        </tr>
        <tr>
            <th>總申請金額</th>
            <td>@Html.TextBoxFor(m => m.TotalExpense, new Dictionary<string, object>() { { "readonly", "true" } })</td>
        </tr>
        <tbody>
            <tr><td>Expense</td><td>OccureDate</td><td>ReferenceNumber</td></tr>
            @if (Model.LineItems.Count() == 0)
            {
                <tr id="detailrow">
                    <td>@Html.TextBox("LineItems[0].Expense")</td>
                    <td>@Html.TextBox("LineItems[0].OccureDate")</td>
                    <td>@Html.TextBox("LineItems[0].ReferenceNumber")</td>
                </tr>
            }
            else
            {
                var itemcount = 0;
                foreach (var item in Model.LineItems)
                {  
                    <tr id="detailrow">
                        <td>@Html.TextBoxFor(m => item.Expense, new { Name = "LineItems["+ itemcount + "].Expense",Id= "LineItems_0__Expense" })</td>
                        <td>@Html.TextBoxFor(m => item.OccureDate, new { Name = "LineItems[" + itemcount + "].OccureDate", Id = "LineItems_0__OccureDate" })</td>
                        <td>@Html.TextBoxFor(m => item.ReferenceNumber, new { Name = "LineItems[" + itemcount + "].ReferenceNumber", Id = "LineItems_0__ReferenceNumber" })</td>
                    </tr>
                    itemcount++;
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <button id="save">儲存</button>
}
<button id="addRow">addRow</button>
@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });

        $("#addRow").click(function () {
            newrow = $("#detailrow:first").clone()
            rowcount = $('tbody').children('tr#detailrow').length
            //$("#detailrow:first").after(newrow)
            $('tbody > tr:last').after(newrow)
            $('#detailrow:last > td > input#LineItems_0__Expense').attr('name', 'LineItems[' + rowcount + '].Expense')
            $('#detailrow:last > td > input#LineItems_0__OccureDate').attr('name', 'LineItems[' + rowcount + '].OccureDate')
            $('#detailrow:last > td > input#LineItems_0__ReferenceNumber').attr('name','LineItems[' + rowcount + '].ReferenceNumber')
        });
    </script>
}