@model hsdc.dpt.Control.DTO.Creational.Builder.BugIssue

@{
    ViewBag.Title = "NewBugIssue";
}

<h2>NewBugIssue</h2>


@using (Html.BeginForm("SaveBugIssue", "Builder", FormMethod.Post, new { id = "frmSave" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BugIssue</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BugIssueID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Model.BugIssueID == null ? "" : Model.BugIssueID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BugIssueItile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BugIssueItile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugIssueItile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BugIssueContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BugIssueContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugIssueContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BugIssueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BugIssueDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BugIssueDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--<input type="submit" value="Create" class="btn btn-default" />-->
                <button id="save">儲存</button>
            </div>
        </div>
    </div>
}

<!--div>
    @Html.ActionLink("Back to List", "Index")
</!--div-->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });
    </script>
}
