@model IEnumerable<hsdc.dpt.Control.DTO.Creational.FactoryMethod.PayItem>

@{
    ViewBag.Title = "Index";
}

<h2>薪資架構</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayItemIditity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRuleIditity)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayItemIditity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRuleIditity)
        </td>
    </tr>
}

    <p><a href="/HrmPayCalc/PayCalc">計算薪資</a></p>

</table>
