@model IEnumerable<hsdc.dpt.Control.DTO.Creational.FactoryMethod.PayRoll>

@{
    ViewBag.Title = "PayCalc";
}

<h2>薪資條</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayItemIditity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRollAmt)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayItemIditity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRollAmt)
        </td>
    </tr>
}


</table>
