@model List<hsdc.dpt.Control.DTO.Structual.Adapter.Hotel>
@{
    ViewBag.Title = "Index";
}

<h2>Adapter Pattern</h2>

<h3>Hotels</h3>
<table cellpadding="5">
    <thead>
        <tr>
            <th>城市</th>
            <th>名稱</th>
            <th>價錢</th>
            <th>房型</th>
            <th>來源</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.city</td>
            <td>@item.name</td>
            <td>@item.price</td>
            <td>@item.roomType 人</td>
            <td>@item.source</td>
        </tr>
    }
</table>
