@model IEnumerable<hsdc.dpt.Control.DTO.Structual.Proxy.HotelsInfo>

@{
    ViewBag.Title = "GetHotels";
}

<h2>GetHotels</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotCheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestsRooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Star)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestRating)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OriginUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotCheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestsRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Star)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestRating)
        </td>
    </tr>
}

</table>
