@model hsdc.dpt.Control.DTO.Creational.Builder.TravelExpense

@{
    ViewBag.Title = "新增旅遊費用單";
}

<h2>新增旅遊費用申請單</h2>

@using (Html.BeginForm("SaveTravelExpense", "Builder", FormMethod.Post, new { id = "frmSave" }))
{
    <table>
        <tr>
            <th>旅遊費用申請單單號</th>
            <td>@(Model.TravelExpenseID == null ? "" : Model.TravelExpenseID)</td>
        </tr>
        <tr>
            <th>申請人</th>
            <td>@Html.TextBoxFor(m => m.Applier)</td>
        </tr>
        <tr>
            <th>申請類別</th>
            <td>@Html.TextBoxFor(m => m.TravelExpenseType)</td>
        </tr>
        <tr>
            <th>總天數</th>
            <td>@Html.TextBoxFor(m => m.TravelDay)</td>
        </tr>
        <tr>
            <th>總人數</th>
            <td>@Html.TextBoxFor(m => m.TravelPeopleCount)</td>
        </tr>
        <tr>
            <th>總花費</th>
            <td>@Html.TextBoxFor(m => m.TravelSpenceCount)</td>
        </tr>
        <tr>
            <th>旅遊地點</th>
            <td>@Html.TextBoxFor(m => m.TravelPlace)</td>
        </tr>
        <tr>
            <th>旅遊開始日</th>
            <td>@Html.TextBoxFor(m => m.TravelStartDate)</td>
        </tr>
        <tr>
            <th>旅遊結束日</th>
            <td>@Html.TextBoxFor(m => m.TravelEndDate)</td>
        </tr>
    </table>
    <br />
    <br />
    <button id="save">儲存</button>
}


<br>
    旅遊單號
@Html.DisplayFor(Model => Model.TravelExpenseID)
<br>
<br>
    申請人
@Html.DisplayFor(Model => Model.Applier)
<br>
<br>
    地點
@Html.DisplayFor(Model => Model.TravelPlace)
<br>

@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });
    </script>
}