@model hsdc.dpt.Control.DTO.Creational.Builder.Overtime

@{
    ViewBag.Title = "新增加班單";
}

<h2>新增請假單</h2>

@using (Html.BeginForm("SaveOvertime", "Builder", FormMethod.Post, new { id = "frmSave" }))
{
    <table>
        <tr>
            <th>加班單號</th>
            <td>@(Model.OvertimeID == null ? "" : Model.OvertimeID)</td>
        </tr>
        <tr>
            <th>申請人</th>
            <td>@Html.TextBoxFor(m => m.Applier)</td>
        </tr>
        <tr>
            <th>計算方法</th>
            <td>@Html.TextBoxFor(m => m.Method)</td>
        </tr>
        <tr>
            <th>申請日期&時間</th>
            <td>@Html.TextBoxFor(m => m.OvertimeBeginDateTime)</td>
        </tr>
        <tr>
            <th>總申請時數</th>
            <td>@Html.TextBoxFor(m => m.OvertimeHour)</td>
        </tr>
    </table>
    <br />
    <br />
    <button id="save">儲存</button>
}

@section BodyScripts
{
    <script>
        $("#save").click(function () {
            $("#frmSave").submit();
        });
    </script>
}